
<div *ngIf="!showFees" class="container-fluid" style="padding: 0px">
    <div class="card">
      <div class="card-body">
        <div class="table-title mb-1">
          <h1 class="title mb-0">Clinic Fees</h1>
          <hr />
  
          <div class="px-4 py-5 my-5 text-center">
            <svg
              width="170"
              height="202"
              viewBox="0 0 170 202"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.9">
                <path
                  d="M85.7921 148.566H75.8911V151.867H85.7921V148.566Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M63.7228 148.84H70.8086V151.202H61.3614V141.752H63.7228V148.84Z"
                  fill="#8898AA"
                />
                <path
                  d="M98.9934 148.566H89.0924V151.867H98.9934V148.566Z"
                  fill="#8898AA"
                />
                <path
                  d="M113.845 148.566H103.944V151.867H113.845V148.566Z"
                  fill="#8898AA"
                />
                <path
                  d="M127.046 148.566H118.795V151.867H127.046V148.566Z"
                  fill="#8898AA"
                />
                <path
                  d="M141.898 148.566H131.997V151.867H141.898V148.566Z"
                  fill="#8898AA"
                />
                <path
                  d="M155.099 148.566H146.848V151.867H155.099V148.566Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 148.84H160.553V151.202H170V141.752H167.639V148.84Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 137.027V127.577H170V137.027H167.639Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 122.852V113.402H170V122.852H167.639Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 108.678V99.2272H170V108.678H167.639Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 94.5012V85.0507H170V94.5012H167.639Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 80.3263V70.8759H170V80.3263H167.639Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 66.1515V56.701H170V66.1515H167.639Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 51.9766V42.5262H170V51.9766H167.639Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M167.639 37.8001V28.3497H170V37.8001H167.639Z"
                  fill="#8898AA"
                />
                <path
                  d="M169.951 21.4595H160.049V23.1103H169.951V21.4595Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M148.744 21.2631H155.83V23.6253H146.383V14.1748H148.744V21.2631Z"
                  fill="#8898AA"
                />
                <path d="M148.498 0H146.848V9.9044H148.498V0Z" fill="#8898AA" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 137.027V127.577H63.7228V137.027H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 122.852V113.402H63.7228V122.852H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 108.678V99.2272H63.7228V108.678H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 94.5012V85.0507H63.7228V94.5012H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 80.3263V70.8759H63.7228V80.3263H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 66.1515V56.701H63.7228V66.1515H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 51.9766V42.5262H63.7228V51.9766H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3614 37.8001V28.3497H63.7228V37.8001H61.3614Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M61.3597 14.1748H63.7211V23.5493L63.7409 23.6269L54.5743 25.9132L54.0033 23.6203L61.3597 21.7847V14.1748Z"
                  fill="#8898AA"
                />
                <path d="M85.7921 0H75.8911V1.65073H85.7921V0Z" fill="#8898AA" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M62.5429 0H61.3614V9.45045H63.7228V2.3622H70.8086V0H62.5429Z"
                  fill="#8898AA"
                />
                <path d="M98.9934 0H89.0924V1.65073H98.9934V0Z" fill="#8898AA" />
                <path d="M113.845 0H103.944V1.65073H113.845V0Z" fill="#8898AA" />
                <path d="M127.046 0H118.795V1.65073H127.046V0Z" fill="#8898AA" />
                <path d="M141.898 0H131.997V1.65073H141.898V0Z" fill="#8898AA" />
                <path
                  d="M90.7044 188.821L82.363 193.258L83.4716 195.344L91.813 190.907L90.7044 188.821Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M71.938 198.805L78.1944 195.478L79.303 197.563L70.9616 202L66.5264 193.656L68.6114 192.547L71.938 198.805Z"
                  fill="#8898AA"
                />
                <path
                  d="M103.218 182.167L94.8762 186.604L95.9848 188.69L104.326 184.253L103.218 182.167Z"
                  fill="#8898AA"
                />
                <path
                  d="M115.729 175.511L107.388 179.948L108.496 182.034L116.838 177.597L115.729 175.511Z"
                  fill="#8898AA"
                />
                <path
                  d="M128.241 168.857L119.899 173.294L121.008 175.38L129.349 170.943L128.241 168.857Z"
                  fill="#8898AA"
                />
                <path
                  d="M140.752 162.203L132.411 166.64L133.519 168.726L141.861 164.289L140.752 162.203Z"
                  fill="#8898AA"
                />
                <path
                  d="M153.264 155.547L144.922 159.984L146.031 162.07L154.372 157.633L153.264 155.547Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M64.3081 189.484L59.8729 181.14L61.9579 180.031L66.3931 188.375L64.3081 189.484Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M57.6563 176.968L53.2211 168.624L55.3061 167.515L59.7413 175.859L57.6563 176.968Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M51.0028 164.452L46.5676 156.108L48.6526 154.999L53.0878 163.343L51.0028 164.452Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M44.351 151.935L39.9158 143.591L42.0008 142.482L46.436 150.826L44.351 151.935Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M37.6976 139.419L33.2624 131.075L35.3474 129.966L39.7826 138.31L37.6976 139.419Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.0457 126.903L26.6105 118.559L28.6955 117.45L33.1307 125.794L31.0457 126.903Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M24.3923 114.387L19.9571 106.043L22.0421 104.934L26.4773 113.278L24.3923 114.387Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M17.7405 101.871L13.3053 93.5272L15.3903 92.4182L19.8255 100.762L17.7405 101.871Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.087 89.3556L6.65179 81.0114L8.73677 79.9024L13.172 88.2466L11.087 89.3556Z"
                  fill="#8898AA"
                />
                <path
                  d="M20.8529 57.403L12.5115 61.8398L13.6201 63.9255L21.9615 59.4887L20.8529 57.403Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.04322 67.9406L0 68.4955L4.43519 76.8398L6.52017 75.7308L3.19358 69.4722L9.44998 66.1445L8.34138 64.0588L1.04322 67.9406Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.7656 51.597L25.0198 55.184L26.1287 57.2705L34.4455 52.8466L34.5066 52.8317L32.2211 43.6619L29.929 44.233L31.7656 51.597Z"
                  fill="#8898AA"
                />
                <path
                  d="M85.4157 169.184L76.2491 171.47L76.8204 173.762L85.987 171.476L85.4157 169.184Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M64.7926 174.329L71.6679 172.615L72.2392 174.907L63.0726 177.193L60.7871 168.023L63.0784 167.452L64.7926 174.329Z"
                  fill="#8898AA"
                />
                <path
                  d="M99.1666 165.755L90 168.041L90.5713 170.333L99.7378 168.047L99.1666 165.755Z"
                  fill="#8898AA"
                />
                <path
                  d="M112.916 162.325L103.749 164.611L104.32 166.903L113.487 164.617L112.916 162.325Z"
                  fill="#8898AA"
                />
                <path
                  d="M126.665 158.896L117.498 161.183L118.07 163.475L127.236 161.188L126.665 158.896Z"
                  fill="#8898AA"
                />
                <path
                  d="M140.414 155.468L131.248 157.754L131.819 160.046L140.985 157.76L140.414 155.468Z"
                  fill="#8898AA"
                />
                <path
                  d="M154.163 152.037L144.997 154.324L145.568 156.616L154.735 154.329L154.163 152.037Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M59.6436 163.437L57.3581 154.268L59.6493 153.696L61.9348 162.866L59.6436 163.437Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M56.2161 149.683L53.9307 140.514L56.2219 139.942L58.5074 149.112L56.2161 149.683Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M52.7871 135.93L50.5016 126.76L52.7929 126.188L55.0784 135.358L52.7871 135.93Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M49.3598 122.176L47.0743 113.006L49.3655 112.434L51.651 121.604L49.3598 122.176Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M45.9307 108.422L43.6452 99.252L45.9364 98.6805L48.2219 107.85L45.9307 108.422Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M42.5033 94.6678L40.2178 85.498L42.5091 84.9266L44.7946 94.0963L42.5033 94.6678Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M39.0742 80.9122L36.7888 71.7425L39.08 71.171L41.3655 80.3408L39.0742 80.9122Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M35.6469 67.1583L33.3614 57.9886L35.6526 57.4171L37.9381 66.5869L35.6469 67.1583Z"
                  fill="#8898AA"
                />
                <path
                  d="M49.4207 24.7643L40.2542 27.0506L40.8254 29.3426L49.992 27.0563L49.4207 24.7643Z"
                  fill="#8898AA"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M27.6514 30.1948L26.5049 30.4808L28.7904 39.6505L31.0817 39.079L29.3675 32.2013L36.2428 30.4865L35.6715 28.1945L27.6514 30.1948Z"
                  fill="#8898AA"
                />
              </g>
            </svg>
  
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">
                You haven't added any fees for your clinic yet
              </p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a
                  _ngcontent-gga-c159=""
                  class="btn btn-psp-primary btn-add-clinic-fees " routerLink="add-clinic-fees"  >
                  Add Clinic Fees
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div *ngIf="showFees" class="container-fluid" style="padding: 0px">
    <div class="card">
      <div class="card-body">
        <div class="table-title mb-1">
          <h3 class="title mb-0">Add Clinic Fees</h3>
          <hr class="my-4" />
          
          <div >
            <div class="form-group">
              <div class="row g-3">
                <div class="col-sm-6">
                  <h4 class="title mb-0">Appointment Fees</h4>
                  <label for="appointmentFees" class="form-label">Amount</label>
                  
                </div>
              </div>
            </div>
            <br />
            <br />
            <div>
            <div class="form-group">
              <div class="row g-3">
                <div class="col-sm-6">
                  <h4 class="title mb-0">Follow Up Fees</h4>
                  <label for="followUpFees" class="form-label">Amount</label>
                 
                  
                </div>
              </div>

              <div>
                <div class="form-group">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <h4 class="title mb-0">Discount</h4>
                      <label for="appointmentFees" class="form-label">Amount</label>
                      
                    </div>
                  </div>
                </div>
                